// Fonts
$base-font: normal 1rem/1.5 "Roboto", "Arial", sans-serif;
$heading-font: bold 1rem/1 "Hind", "Verdana", sans-serif;

// Colors
$primary-color: #17bed2;
$primary-grey: #515769;
$secondary-grey: #a6a7aa;
$primary-bg-color: #fff;
$secondary-bg-color: #fafafa;
$primaty-dark-bg-color: #292c33;
$white: #fff;