* {
  box-sizing: border-box;
}
body {
  position: relative;
  margin: 0;
  color: #000;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1rem;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Hind", "Tahoma", "Verdana", sans-serif;
  font-weight: bolder;
  color: #515769;
}
h2 {
  font-size: 2rem;
}
a, a:link, a:visited {
  color: inherit;
  background: none;
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: underline;
}
p {
  /*color: #a6a7aa;*/
  /*color: #515769;*/
  color: #bbb;
}
strong {
  color: #a6a7aa;;
}
cite {
  font-style: normal;
}
.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s;
}
.btn:hover {
  text-decoration: none;
}
.btn-secondary {
  border: 1px solid #fff;
}
.btn-secondary:hover {
  color: #555;
  background: #fff;
}