main {
  color: #a6a7aa;
}
main section {
  padding: 5rem 0;
}
main section:nth-child(even) {
  background: #fafafa;
}
main h2 {
  color: #515769;
}
blockquote {
  position: relative;
  margin: 0;
}
blockquote::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  content: "\201C";
  font-size: 5rem;
  color: #17bed2;
}
blockquote > p,
blockquote > cite {
  margin-left: 3rem;
}