main > .container {
  padding: 0;
}
main section {
  margin: 5rem 0;
  padding: 1rem;
}
blockquote {
  position: relative;
  margin: 0;
}
blockquote::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  content: "\201C";
  font-size: 5rem;
  color: #17bed2;
}
blockquote > p, blockquote > cite {
  margin-left: 3rem;
}
blockquote > cite {
  color: #bbb;
  font-style: normal;
}