@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;700&family=Roboto:wght@400;700&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 5rem 0;
  color: #a6a7aa;
  font: normal 1rem/1.5 "Roboto", "Arial", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font: bold 1rem/1 "Hind", "Verdana", sans-serif;
}

h1 {
  color: #fff;
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin: 1rem 0;
}

b, strong {
  color: #515769;
  font-weight: bold;
}

blockquote {
  position: relative;
  margin: 0;
}

cite {
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul:not([class]) {
  margin: 1rem 0;
}
ul:not([class]) li::before {
  content: "•";
  margin-right: 0.5rem;
  color: #17bed2;
}

ul.links-list li {
  padding: 0.5rem 0;
}
ul.links-list a:hover {
  color: #fff;
  text-decoration: underline;
}

button, input, textarea {
  border: none;
  outline: none;
  background: none;
  font: inherit;
}

textarea {
  resize: none;
}

button[type] {
  cursor: pointer;
}

.container {
  width: 90%;
  max-width: 75rem;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-container {
  display: -ms-grid;
  display: grid;
}

.btn-secondary, .btn-primary {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.btn-primary {
  border-color: #515769;
  color: #515769;
}
.btn-primary:hover {
  border-color: #17bed2;
  color: #fff;
  background-color: #17bed2;
}

.btn-secondary {
  border-color: #fff;
  color: #fff;
}
.btn-secondary:hover {
  border-color: #515769;
  color: #515769;
  background-color: #fff;
}

img {
  border: none;
}

.img-preview {
  background-size: cover;
  background-position: center;
}

#showcase .img-description, #showcase .grid-container .item::after, #pricing .item, #provide .item, .img-preview, #main_header nav .nav-menu, #main_header h2, #main_footer h2, .animated, .btn-primary, .btn-secondary, .icon-container {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.scrool-offset {
  position: relative;
  top: -8rem;
}

#main_header .container, #main_footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}
#main_header h2::first-letter, #main_footer h2::first-letter {
  color: #17bed2;
}
#main_header h2:hover, #main_footer h2:hover {
  color: #17bed2;
}

#main_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  border-bottom: 1px solid #515769;
}

#main_header nav #nav_checkbox {
  display: none;
}
#main_header nav #nav_checkbox:checked ~ .nav-menu {
  opacity: 1;
}
#main_header nav #nav_icon {
  display: none;
  cursor: pointer;
}
#main_header nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}
#main_header nav .nav-menu .nav-link {
  color: #fff;
  border-color: transparent;
}
#main_header nav .nav-menu .nav-link:hover {
  color: #fff !important;
}

#main_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  border-top: 1px solid #515769;
  color: #fff;
}
#main_footer a {
  color: #17bed2;
}
#main_footer a:hover {
  text-decoration: underline;
}
#main_footer h2 {
  color: #fff;
}
#main_footer h2 a {
  color: inherit;
}
#main_footer h2 a:hover {
  text-decoration: none;
}

.fullscreen-slider.top, .fullscreen-slider.top .item {
  min-height: 30rem;
}

.fullscreen-slider {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}
.fullscreen-slider.top {
  top: 0;
}
.fullscreen-slider.top .row {
  -webkit-animation: fullscreen-slider-items4-autoscroll ease-in-out 60s infinite;
          animation: fullscreen-slider-items4-autoscroll ease-in-out 60s infinite;
}
.fullscreen-slider.top .row .item:first-child, .fullscreen-slider.top .row .item:last-child {
  background-image: url("../images/fullscreen-slider/item1.jpg");
}
.fullscreen-slider.top .row .item:nth-child(2) {
  background-image: url("../images/fullscreen-slider/item2.jpg");
}
.fullscreen-slider.top .row .item:nth-child(3) {
  background-image: url("../images/fullscreen-slider/item3.jpg");
}
.fullscreen-slider.bottom {
  bottom: 0;
  z-index: 2;
}
.fullscreen-slider.bottom .row {
  -webkit-animation: fullscreen-slider-items3-autoscroll ease-in-out 45s infinite;
          animation: fullscreen-slider-items3-autoscroll ease-in-out 45s infinite;
}
.fullscreen-slider.bottom .row .item:first-child, .fullscreen-slider.bottom .row .item:last-child {
  background-image: url("../images/fullscreen-slider/item4.jpg");
}
.fullscreen-slider .row {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.fullscreen-slider .row .item {
  width: 100vw;
  height: 100vh;
  background-color: #292c33;
  background-size: cover;
}

@-webkit-keyframes fullscreen-slider-items4-autoscroll {
  0% {
    left: 0;
  }
  30% {
    left: 0;
  }
  33.333% {
    left: -100vw;
  }
  63.333% {
    left: -100vw;
  }
  66.666% {
    left: -200vw;
  }
  96.333% {
    left: -200vw;
  }
  100% {
    left: -300vw;
  }
}

@keyframes fullscreen-slider-items4-autoscroll {
  0% {
    left: 0;
  }
  30% {
    left: 0;
  }
  33.333% {
    left: -100vw;
  }
  63.333% {
    left: -100vw;
  }
  66.666% {
    left: -200vw;
  }
  96.333% {
    left: -200vw;
  }
  100% {
    left: -300vw;
  }
}
@-webkit-keyframes fullscreen-slider-items3-autoscroll {
  0% {
    left: 0;
  }
  45% {
    left: 0;
  }
  50% {
    left: -100vw;
  }
  95% {
    left: -100vw;
  }
  100% {
    left: -200vw;
  }
}
@keyframes fullscreen-slider-items3-autoscroll {
  0% {
    left: 0;
  }
  45% {
    left: 0;
  }
  50% {
    left: -100vw;
  }
  95% {
    left: -100vw;
  }
  100% {
    left: -200vw;
  }
}
#welcome_block {
  height: calc(100vh - 5rem);
  min-height: 25rem;
  color: #fff;
}
#welcome_block .container {
  height: 100%;
}
#welcome_block .content {
  max-width: 34rem;
}

#goodbye_block {
  position: relative;
  height: calc((100vh - 5rem) - 1px);
}
#goodbye_block .container {
  height: 100%;
}
#goodbye_block h2 {
  margin-bottom: 1rem;
}
#goodbye_block h2, #goodbye_block h3 {
  color: #fff;
}
#goodbye_block .item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#goodbye_block ul.links-list:not(:last-child) {
  margin-right: 5rem;
}

#contactUs_form {
  max-width: 34rem;
}
#contactUs_form input {
  margin-bottom: 0.5rem;
}
#contactUs_form input, #contactUs_form textarea {
  width: 100%;
  padding: 0.5rem;
  color: #fff;
  background-color: #51576980;
}
#contactUs_form input::-webkit-input-placeholder, #contactUs_form textarea::-webkit-input-placeholder {
  color: #a6a7aa;
}
#contactUs_form input::-moz-placeholder, #contactUs_form textarea::-moz-placeholder {
  color: #a6a7aa;
}
#contactUs_form input:-ms-input-placeholder, #contactUs_form textarea:-ms-input-placeholder {
  color: #a6a7aa;
}
#contactUs_form input::-ms-input-placeholder, #contactUs_form textarea::-ms-input-placeholder {
  color: #a6a7aa;
}
#contactUs_form input::placeholder, #contactUs_form textarea::placeholder {
  color: #a6a7aa;
}
#contactUs_form input, #contactUs_form textarea, #contactUs_form button {
  background-color: #51576980;
}
#contactUs_form button[type=submit] {
  color: #a6a7aa;
  border-color: #515769;
}
#contactUs_form button[type=submit]:hover {
  color: #fff;
  border-color: #17bed2;
  background-color: #17bed2;
}

main section {
  padding: 3rem 0;
}
main section:nth-child(even) {
  background-color: #eee;
}

.item header {
  margin: 1rem 0;
}
.item header a:hover {
  color: #a6a7aa;
}
.item header span {
  color: #a6a7aa;
  text-transform: uppercase;
}

.description {
  position: relative;
  overflow: hidden;
}

.img-preview:hover {
  opacity: 0.5;
}

#about .img-preview {
  background-image: url("../images/about-us.jpg");
}
#about .img-preview:hover {
  opacity: 1;
}

#team h2 {
  margin-bottom: 1rem;
}
#team .item .img-preview:hover ~ .btn-primary {
  border-color: #17bed2;
  color: #fff;
  background-color: #17bed2;
}
#team .alice-keys .img-preview {
  background-image: url("../images/team/alice-keys.jpeg");
}
#team .nicolas-millner .img-preview {
  background-image: url("../images/team/nicolas-millner.jpg");
}
#team .scarlet-johanson .img-preview {
  background-image: url("../images/team/scarlet-johanson.jpg");
}

#provide h2 {
  margin-bottom: 1rem;
}
#provide .item {
  padding: 1rem;
  background-color: #eee;
}
#provide .item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
#provide .item:hover .icon-container {
  color: #17bed2;
}
#provide .item h3 {
  margin: 1rem 0;
}

#projects .item .img-preview:hover ~ .btn-primary {
  border-color: #17bed2;
  color: #fff;
  background-color: #17bed2;
}
#projects .triangle-roof .img-preview {
  background-image: url("../images/projects/project1.jpg");
}
#projects .colorful-gym .img-preview {
  background-image: url("../images/projects/project2.jpg");
}
#projects .green-house .img-preview {
  background-image: url("../images/projects/project3.webp");
}

#pricing h2 {
  margin-bottom: 1rem;
}
#pricing .item {
  padding: 3rem 2rem;
  background-color: #fff;
}
#pricing .item:hover .icon-container {
  color: #17bed2;
}
#pricing .item:hover .btn-primary {
  border-color: #17bed2;
  color: #fff;
  background-color: #17bed2;
}
#pricing .item h3 {
  margin: 1rem 0;
}
#pricing .item .price::before {
  content: "$";
  color: #a6a7aa;
  font-size: 1rem;
}
#pricing .item .price::after {
  content: "/month";
  color: #a6a7aa;
  font-size: 1rem;
}
#pricing .item .description::after {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff00), to(#fff));
  background: linear-gradient(to bottom, #ffffff00, #fff);
}

#socials h2 {
  margin-bottom: 1rem;
}
#socials .img-preview {
  background-image: url("../images/socials/socials-compile.png");
  background-size: 400% 200%;
  background-position-y: 0;
  -webkit-transition: 0s;
  transition: 0s;
}
#socials .img-preview:hover {
  opacity: 1;
  background-position-y: -100%;
}
#socials .twitter .img-preview {
  background-position-x: 0;
}
#socials .facebook .img-preview {
  background-position-x: -100%;
}
#socials .instagram .img-preview {
  background-position-x: -200%;
}
#socials .youtube .img-preview {
  background-position-x: -300%;
}

#showcase .grid-container .item {
  position: relative;
  background-size: cover;
  background-position: center;
}
#showcase .grid-container .item:hover::after {
  background-color: #51576980;
}
#showcase .grid-container .item:hover .img-description {
  bottom: 1rem;
  opacity: 1;
}
#showcase .grid-container .item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#showcase .grid-container .item:nth-child(1) {
  background-image: url("../images/showcase/showcase1.jpg");
}
#showcase .grid-container .item:nth-child(2) {
  background-image: url("../images/showcase/showcase2.jpg");
}
#showcase .grid-container .item:nth-child(3) {
  background-image: url("../images/showcase/showcase3.jpg");
}
#showcase .grid-container .item:nth-child(4) {
  background-image: url("../images/showcase/showcase4.jpg");
}
#showcase .grid-container .item:nth-child(5) {
  background-image: url("../images/showcase/showcase5.jpg");
}
#showcase .img-description {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 0 1rem;
  color: #fff;
  opacity: 0;
}
#showcase .img-description h3 {
  color: #fff;
}
#showcase .img-description p {
  margin: 0;
}

[data-keepratio] {
  position: relative;
  display: block;
  width: 100%;
}
[data-keepratio] > * {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

[data-keepratio="1:1"] {
  padding-top: 100%;
}

[data-keepratio="4:3"] {
  padding-top: 75%;
}

[data-keepratio="2:1"] {
  padding-top: 50%;
}

[data-keepratio="300:67"] {
  padding-top: 22.333%;
}

@media screen and (min-width: 1201px) {
  #about .item:first-child {
    width: calc(60% - 0.5rem);
    margin-right: 1rem;
  }
  #about .item:last-child {
    width: calc(40% - 0.5rem);
  }

  #team .item, #provide .item, #projects .item {
    width: calc((100% / 3) - (2rem / 3));
  }
  #team .item:not(:nth-child(3n)), #provide .item:not(:nth-child(3n)), #projects .item:not(:nth-child(3n)) {
    margin-right: 1rem;
  }
  #team .item:not(:nth-child(-n+3)), #provide .item:not(:nth-child(-n+3)), #projects .item:not(:nth-child(-n+3)) {
    margin-top: 1rem;
  }

  .description {
    height: calc(1rem * 1.5 * 4);
  }
  .description::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  #team .description::after, #provide .description::after, #projects .description::after {
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff00), to(#fafafa));
    background: linear-gradient(to bottom, #ffffff00, #fafafa);
  }

  #pricing .description::after {
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff00), to(#fff));
    background: linear-gradient(to bottom, #ffffff00, #fff);
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 1rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
  #about .item {
    width: 100%;
  }

  #team .item, #projects .item {
    width: 60%;
    margin: 0 auto;
  }
  #team .item:not(:first-child), #projects .item:not(:first-child) {
    margin-top: 1rem;
  }
  #team .description, #projects .description {
    height: auto;
  }
  #team .description::after, #projects .description::after {
    background: none;
  }

  #provide .item {
    width: calc(50% - 0.5rem);
  }
  #provide .item:not(:nth-child(2n)) {
    margin-right: 1rem;
  }
  #provide .item:not(:nth-child(-n+2)) {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1025px) {
  #pricing .item {
    width: calc((100% / 3) - (2rem / 3));
  }
  #pricing .item:hover {
    padding: 6rem 2rem;
  }
  #pricing .item:nth-child(2) {
    padding: 6rem 2rem;
  }
  #pricing .item:not(:nth-child(3n)) {
    margin-right: 1rem;
  }

  #showcase .grid-container {
    -ms-grid-rows: (1fr)[2];
    -ms-grid-columns: (1fr)[3];
        grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  }
}
@media screen and (max-width: 1024px) {
  #pricing .item {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
  #pricing .item:not(:first-child) {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #showcase .grid-container {
    -ms-grid-rows: (1fr)[3];
    -ms-grid-columns: (1fr)[2];
        grid-template: repeat(3, 1fr)/repeat(2, 1fr);
  }
}
@media screen and (min-width: 769px) {
  #socials .item {
    width: calc(25% - 0.75rem);
  }
  #socials .item:not(:last-child) {
    margin-right: 1rem;
  }

  #goodbye_block .item {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  nav #nav_icon {
    display: block !important;
  }
  nav .nav-menu {
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0.5rem 0;
    border-bottom: 1px solid #515769;
    text-align: center;
    opacity: 0;
    visibility: hidden;
  }
  nav #nav_checkbox:checked ~ .nav-menu {
    opacity: 1;
    visibility: visible;
  }

  #team .item, #projects .item {
    width: 100%;
  }
  #team .item:not(:first-child), #projects .item:not(:first-child) {
    margin-top: 1rem;
  }

  #socials .item {
    width: calc(50% - 0.5rem);
  }
  #socials .item:not(:nth-child(2n)) {
    margin-right: 1rem;
  }
  #socials .item:not(:first-child) {
    margin-top: 1rem;
  }

  .fullscreen-slider.bottom, .fullscreen-slider.bottom .item {
    min-height: 55rem;
  }

  #goodbye_block {
    min-height: 50rem;
  }
  #goodbye_block .item {
    width: 100%;
  }
  #goodbye_block .item:first-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #goodbye_block .item:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  #provide .item {
    width: 100%;
    margin-right: 0 !important;
  }
  #provide .item:not(:first-child) {
    margin-top: 1rem;
  }
  #provide .description {
    max-width: 100%;
    height: auto !important;
  }
  #provide .description::after {
    background: none !important;
  }
}
@media screen and (min-width: 577px) {
  .item header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .item header span {
    margin-left: 0.625rem;
  }

  #reviews blockquote::before {
    content: "“";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    color: #17bed2;
    font: bold 1rem/1 "Hind", "Verdana", sans-serif;
    font-size: 5rem;
  }
  #reviews blockquote p, #reviews blockquote cite {
    margin-left: 3rem;
  }

  #showcase .grid-container .item:first-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}
@media screen and (max-width: 576px) {
  #pricing .item {
    width: 100%;
  }

  #showcase .grid-container {
    -ms-grid-rows: (1fr)[5];
    -ms-grid-columns: 1fr;
        grid-template: repeat(5, 1fr)/1fr;
  }

  #main_footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header-display {
  background: #fff !important;
}