#welcome_block {
  display: flex;
  align-items: center;
  height: calc(100vh - 100px);
}
#welcome_block > .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#welcome_block .main-info {
  width: 600px;
}
#welcome_block .main-info p {
  margin: 0 0 1.5rem;
  color: #a6a7aa;
}
h1 {
  text-transform: uppercase;
  line-height: 1;
  font-size: 5rem;
}